// .btn-primary,
.btn-primary a {
  background: $brand-blue;
  color: white !important;
  border: none;
  padding: 10px 36px !important;
  transition: 0.1s ease-in-out;

  &:hover {
    background: $brand-navy !important;
  }
}

#menu-primary-menu {
  .btn-primary {
    margin-left: 40px;
  }
}
